body{
   background-image: url('../assets/bg2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   max-height: 100vh;
   background-color: #221f26;
} 

*{
   
::-webkit-scrollbar {
   width: 12px; 
}

::-webkit-scrollbar-track {
   background-color: rgba(112, 100, 116, 0.328);
   /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb {
   background-color: rgba(231, 61, 55, 0.437); 
   /* border-radius: 2px; */
}
::-webkit-scrollbar-thumb :hover{
   background-color: rgb(231, 61, 55); 
   /* border-radius: 2px; */
}

}



