body{
   
   background-color: #020617;

   background-image:
     linear-gradient(rgba(255,255,255,0.01) 1px, transparent 1px),
     linear-gradient(90deg, rgba(255,255,255,0.02) 1px, transparent 1px);
   background-size: 40px 40px; /* Tamaño de los cuadros */
} 

*{
   
::-webkit-scrollbar {
   width: 12px; 
}

::-webkit-scrollbar-track {
   background-color: rgba(112, 100, 116, 0.196);
   /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb{
   background-color: rgb(231, 61, 55); 
   /* border-radius: 2px; */
}

}



