/* Componente Navbar */

.contenedor-nav{
    background-color: rgba(255, 255, 255, 0.062); 
    box-shadow: 1px 3px rgba(255, 255, 255, 0.13);
}

.boton-nav{
    border: 4px inset #86858554; 
}

.boton-nav span{
    filter: sepia() saturate(10000%) hue-rotate(-90deg) ;
}


#navbar-collapse a{
    display: flex;
    justify-content: end;
}

@media (max-width: 1000px){
    .boton-nav{
        margin-right: 20px; 
    }
}

#home-nav-img{
    height: 40px;
    padding-left: 50px;
    
}
#links{
    padding-right: 30px;
    
}
#links a{
    font-size:20px; 
    font-weight: 400;
    color: white;
    transition: color 0.3s, text-shadow 0.3s;
}

#links a:hover {
    color: #E73C37;
    text-shadow: 1px 3px 6px rgb(0, 0, 0);
}
  

/* Componente Home */

.contenedor-home{ 
    height: calc(100vh - 60px);
    padding: 150px;
}


@media (max-width: 1662px){
    .contenedor-home{
        padding: 100px;
    }

}

@media (max-width: 1163px){
    .contenedor-home{
        padding: 70px;
    }

}

@media only screen and (max-width: 1100px){
    .contenedor-titulos #titulo{
        font-size: 90px !important;
    }
    .contenedor-titulos #subtitulo{
        font-size: 50px !important;
    }
    #saludo{
        font-size: 25px !important;
    }
    #perfil-img{
        width: 400px ;
    }
}


@media only screen and (max-width: 855px){

    .contenedor-home{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }
    .contenedor-encabezado{
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .contenedor-titulos #titulo{
        font-size: 70px !important;
    }
    
    #perfil-img{
        width: 330px ;
    }
    .contenedor-encabezado #saludo{
        display: inline-block;
    }
    
}



@media only screen and (max-width: 787px){
    .contenedor-titulos #titulo{
        font-size: 60px !important;
    }
    .contenedor-titulos #subtitulo{
        font-size: 30px !important;
    }
    #perfil-img{
        width: 300px ;
    }
}


@media (max-width: 479px){
    .contenedor-titulos #titulo{
        font-size: 50px !important;
    }
    .contenedor-titulos #subtitulo{
        font-size: 25px !important;
    }
    #saludo{
        font-size: 20px !important;
    }
    
}

@media only screen and (max-width: 400px){
    
    .contenedor-titulos #titulo{
        font-size: 40px !important;
    }
    .contenedor-titulos #subtitulo{
        font-size: 20px !important;
    }

    #saludo{
        font-size: 20px !important;
    }
    #perfil-img{
        width: 250px !important;
    }
}

@media only screen and (max-width: 934px) and (orientation: landscape){
    .contenedor-home{
        padding: 40px;
    }
    .contenedor-encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contenedor-titulos #titulo{
        font-size: 40px !important;
    }
    .contenedor-titulos #subtitulo{
        font-size: 20px !important;
    }
    #saludo{
        font-size: 15px !important;
    }
    #perfil-img{
        width: 200px;
    }

    #linkedin{
        height: 40px !important;
    }
    #git{
        height: 40px !important;
    }

    .footer {
        padding: 0 !important;
    }
    .contenedor-curriculum{
        padding: 5px !important;
    }

    #curriculum{
        font-size: 13px;
        padding: 0 !important;
    }
    #flecha{
        width: 17px !important; 
    }
    
    .contenedor-curriculum:hover{
        padding-right: 20px !important;
    }
}




.contenedor-encabezado{
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .contenedor-redes {
    display: flex;
    justify-content: space-around;
    
  }
  
  .contenedor-curriculum {
    margin-top: 20px;
  }

.contenedor-titulos #titulo{
    color: #E73C37;
    font-weight: bold;
    font-size:100px;
}

.contenedor-titulos #subtitulo{
    color: #ffffff;
    font-weight: bold;
    font-size:60px;
}

#saludo{
    color: rgb(133, 133, 133);
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width:20ch;
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 0.02em;
    
    animation: typing 1.5s steps(20),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from{
     width: 0;
    }
 }
 
 @keyframes blink{
     50%{border-color: transparent;}
}

#perfil-img{
    filter: drop-shadow(10px 10px 30px rgba(255, 255, 255, 0.07) );
}

#linkedin{
    height: 50px;
    transition: transform 0.3s ease
}

#linkedin:hover {
    transform: scale(1.2);
}
 
#git{
     filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(118deg) brightness(109%) contrast(98%);
     height: 50px;
     margin-left: 15px;
     transition: transform 0.3s ease;
}

#git:hover {
    transform: scale(1.2);
}

.contenedor-curriculum{
    background: linear-gradient(to right, #E73C37, #852cce);
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    transition: padding-right 0.3s ease; 
}

#curriculum{
    
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
}

#flecha{
    
    padding-left: 5px;
    margin-top: -3px;
    width: 18px;
    transition: transform 0.3s ease;
}

.contenedor-curriculum:hover #flecha{
    transform: translateX(10px); 
}

.contenedor-curriculum:hover{
    padding-right: 20px;
}

/* Sobre Mi */

#sm-titulo{ 
    text-align: center;
    color: white;
    padding: 20px;
    position: relative;
    font-weight: bold;
    font-size: 2rem;
}

#sm-titulo::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    margin: 0 auto;
    width: 9rem;
    height: 3px;
    background-color: #503459; 
}

.contenedor-sm{
  background-color: #221f26;
}

.contenedor-desc-lista{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul#lista {
    list-style-type: none;
    padding: 0;
}

 ul#lista li{
    position: relative;
    padding-left: 25px;
    padding-bottom: 5px;
}

ul#lista li::before{
    content: "➤";
    position: absolute;
    left: 0;
    color: #E73C37;
    font-size: 14px;
    margin-top: 2px;
}

#descripcion-sm{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 17px;
    width: 30%;   
}

.contenedor-lista{
    color: white;
    font-weight: bold;
    font-size: 17px;
   
}

@media only screen and (max-width: 855px){

    .contenedor-desc-lista{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #descripcion-sm{
        width: 100%;
    }

    .contenedor-lista{
      
      padding: 10px;
      
    }
} 

/* Habilidades Tecnicas */

#separador-ht{
    border: none;
    height: 1px;
    width: 50%; 
    background: linear-gradient(to right, #ff8c00, #ff0080);
    margin: 20px auto;
}

#titulo-ht{ 
    text-align: center;
    color: white;
    padding: 20px;
    position: relative;
    font-weight: bold;
    font-size: 2rem;
}

#titulo-ht::after {
    
        display: flex;
        align-items: center;
        justify-content: center;
        content: '';
        margin: 0 auto;
        width: 19rem;
        height: 3px;
        background-color: #503459; 

}

.contenedor-ht{
    background-color: #221f26;
}


.skill-card {
    margin: 10px;
    width: 100px;
    background-color: #93877a;
    box-shadow: 5px 5px #0000003f;
    margin-bottom: 1rem
}

@media only screen and (max-width: 490px){

    .skill-card{
     width: 80px;
    }

} 

.skill-card:hover{
    background-color: white;
    
}

.skill-card .card-img:hover{
    filter: none;
    
}

.skill-card .card-img {
    
    filter: brightness(0) invert(1);
    border-radius: 0;
    display: flex;
    align-items: center;
}
  
.skill-card .card-img img {
    padding: 5px;
    /* margin: 5px auto; */
}


/* Cards */

#separador-proyectos{
    border: none;
    height: 1px;
    width: 50%; 
    background: linear-gradient(to right, #ff8c00, #ff0080);
    margin: 20px auto;
}

.contenedor-proyectos{
    background-color: #221f26;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

@media only screen and (max-width: 855px){

 .contenedor-proyectos{
    flex-direction: column;
}

} 

#titulo-proyectos{
    text-align: center;
    color: white;
    padding: 20px;
    position: relative;
    font-weight: bold;
    font-size: 2rem;
}

#titulo-proyectos::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    margin: 0 auto;
    width: 9rem;
    height: 3px;
    background-color: #503459; 
}



.contenedor-cards{ 
    margin: 20px;
    user-select:none;
    
    max-width: 300px;
    background: linear-gradient(20deg, rgb(28, 30, 34) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 6px 6px #0000003f;
    border-radius: .7rem;
    overflow: hidden;
    transition: .5s all;
    hr{
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }
    .carta{
      display: flex;
      flex-direction: column;
      padding: 10px;
      .portada-card{
        border-radius: .5rem;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .descripcion-cart{
        padding: .5rem 0;
        color: #a89ec9;
        height: 180px;
      }
      .contenedor-lenguajes{
        display: flex;
        margin: 0 auto;
        .lenguajes-utilizados{
          margin: 0;
          margin-right: .5rem;
          border-radius: 100%;
          background-color: #ffffff;
          filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.488));
          img{
            padding: 7px;
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    }
    ::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -130%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
    &:hover{
      transform: scale(1.015);
      
      ::before{
        top: -100%;
        left: 200%;
      }
    }
  }

#titulo-card-proyectos{
    color: white;
    padding-top: 10px;
}

.contenedor-code{
    padding: 10px;
}

.contenedor-code a{
    display: flex;
    justify-content: center;
    
    background: linear-gradient(to right, #E73C37, #852cce);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.contenedor-code a:hover {
    border: 1px solid rgba(255, 255, 255, 0.463);
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.442);
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.253);
    
}

#code{
    
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
}
  

/* Form */

#separador-formulario{
    border: none;
    height: 1px;
    width: 50%; 
    background: linear-gradient(to right, #ff8c00, #ff0080);
    margin: 20px auto;
}

.contenedor-form{
    display: flex;
    background-color: #221f26;
    
}

#input-texto input {
	appearance: none;
	border-radius: 0;
}

.sub-contenedor-form {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 500px;
	max-width: 425px;
	background-color: #FFF;
    box-shadow: 7px 7px #0000003f;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

@media screen and (max-width: 855px){
    .sub-contenedor-form{
        width: 350px;
    }
}

.form-image{
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('./assets/banner.png');
	background-repeat: no-repeat;
	position: relative;
    background-size: cover;
    background-position: center;   
}

.input{
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}


#titulo-form{
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

input .input #titulo-form::before{

    content: "➤";
    color: #E73C37;

}

#input-texto {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #E73C37;
		&+#titulo-form{
			color: #E73C37;
			transform: translateY(-1.5rem);
		}
	}
}

.contenedor-boton{
    margin-top: 20px;
}

#boton-enviar{
    
	font: inherit;
	font-size: 20px;
	padding: 10px;
	width: 100%;
	font-weight: bold;
	background: linear-gradient(to right, #E73C37, #852cce);
	border-radius: 6px;
	color: #FFF;
	border: 0;
}
#boton-enviar:hover{
	border: 1px solid rgb(255, 255, 255);
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.442);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.456);
}






