/* Componente Navbar */

.contenedor-nav{
    background-color: rgba(255, 255, 255, 0.062); 
    box-shadow: 1px 3px rgba(255, 255, 255, 0.13);
}

.boton-nav{
    border: 4px inset #86858554; 
}

.boton-nav span{
    filter: sepia() saturate(10000%) hue-rotate(-90deg) ;
}


#navbar-collapse a{
    display: flex;
    justify-content: end;
}

@media (max-width: 1000px){
    .boton-nav{
        margin-right: 20px; 
    }
}

#home-nav-img{
    height: 40px;
    margin-left: 50px;
    
}
#links{
    margin-right: 30px;
    
}
#links a{
    font-size:20px; 
    font-weight: 400;
    color: white;
    transition: color 0.3s, text-shadow 0.3s;
}

#links a:hover {
    color: #E73C37;
    text-shadow: 1px 3px 6px rgb(0, 0, 0);
}
  

/* Componente Home */

.contenedor-home{
    margin-bottom: 10px;
}

@media (max-width: 1600px){
    .contenedor-home{
        margin-left: 30px;
        
    }
}

@media (max-width: 1380px){
    .contenedor-home{
        
        margin-left: 80px;
    }
}

@media (max-width: 1380px){
    .footer{
        margin-top: 50px;
    }
}


@media (max-width: 717px){
    .contenedor-home{
        
        width: 50%;
        margin: 0 auto;

    }

}

@media (max-width: 717px){
    .contenedor-encabezado{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

.contenedor-encabezado{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenedor-redes {
    display: flex;
    justify-content: space-around;
    
  }
  
  .contenedor-curriculum {
    margin-top: 20px;
  }

.contenedor-titulos #titulo{
    color: #E73C37;
    font-weight: bold;
    font-size:100px;
}



@media (max-width: 1600px){
    .contenedor-titulos #titulo{
        font-size: 95px;
    }
}

@media (max-width: 1380px){
    .contenedor-titulos #titulo{
        font-size: 90px;
    }
}

@media (max-width: 787px){
    .contenedor-titulos #titulo{
        font-size: 85px;
    }
}

@media (max-width: 717px){
    .contenedor-titulos #titulo{
        font-size: 80px;
    }
}




.contenedor-titulos #subtitulo{
    color: #ffffff;
    font-size: 60px;
}

@media (max-width: 1600px){
    .contenedor-titulos #subtitulo{
        font-size: 55px;
    }
}

@media (max-width: 1380px){
    .contenedor-titulos #subtitulo{
        font-size: 50px;
    }
}

@media (max-width: 787px){
    .contenedor-titulos #subtitulo{
        font-size: 45px;
    }
}

@media (max-width: 717px){
    .contenedor-titulos #subtitulo{
        font-size: 40px;
    }
}

@media (max-width: 1600px){
    .contenedor-titulos #saludo{
        font-size: 25px;
    }
}

#saludo{
    color: rgb(133, 133, 133);
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width:20ch;
    font-size: 30px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    
    animation: typing 1.5s steps(20),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from{
     width: 0;
    }
 }
 
 @keyframes blink{
     50%{border-color: transparent;}
}

#perfil-img{
    filter: drop-shadow(10px 10px 30px rgba(255, 255, 255, 0.07) );

    /* border-radius: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover; */
}


@media (max-width: 977px){
    .contenedor-encabezado{
        margin-top: 70px;
    
    }
}

@media (max-width: 877px){
    #perfil-img{
        width: 300px;
    
    }
}

#linkedin{
    height: 50px;
    transition: transform 0.3s ease
}

#linkedin:hover {
    transform: scale(1.2);
}
 
#git{
     height: 50px;
     margin-left: 15px;
     transition: transform 0.3s ease;
}

#git:hover {
    transform: scale(1.2);
}

.contenedor-curriculum{
    margin-bottom: 100px;
    background: linear-gradient(to right, #E73C37, #852cce);
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    transition: padding-right 0.3s ease; 
}

#curriculum{
    
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
}

@media (max-width: 520px){
    .contenedor-curriculum{
        min-width: 205px;
        min-height: 30px;
    }
}

#flecha{
    margin-left: 5px;
    margin-top: -3px;
    width: 15px;
    transition: transform 0.3s ease;
}

.contenedor-curriculum:hover #flecha{
    transform: translateX(10px); 
}

.contenedor-curriculum:hover{
    padding-right: 20px;
}

/* Componente Sobre Mi */

#contenedor-sm{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #312C38;
}

#sm-titulo{
    color: white;
    position: relative;
    font-size: 2rem;
    margin-bottom: 20px;
}

#sm-titulo::after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #007BFF; 
  }

#descripcion{ 
    width: 400px;
    text-align: center;
    padding: 10px;
    font-size:20px;
    color: white;
}